<!DOCTYPE html>
<html>

<head>
    <title>Curso RWS - Listagem de Carros</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximumscale=1,user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/vuetify@1.5.2/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.js"></script>
    <script src="https://unpkg.com/vue@2.6.7/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.min.js"></script>
    <script src="https://unpkg.com/vuetify@1.5.2/dist/vuetify.min.js"></script>
    script>
    <script src="https://unpkg.com/vuetify@1.5.2/dist/vuetify.min.js"></script>
</head>

<body>
    <v-app id="app">
        <v-toolbar dark app color="primary">
            <v-btn flat icon href="index.html">
                <v-icon>keyboard_arrow_left</v-icon>
            </v-btn>
            <v-toolbar-title>Curso RWS - Listagem de Carros</v-toolbar-title>
        </v-toolbar>
        <v-content>
            <v-alert v-model="mensagem.exibir" :type="mensagem.tipo" dismissible>
                {{ mensagem.texto }}
            </v-alert>
            <v-container>
                <v-btn flat icon href="carros-editar.html">
                    <v-icon>add</v-icon>
                </v-btn>
                <v-data-table class="elevation-3" :headers="headers" :items="carros">
                    <template slot="no-data">
                        Nenhum carro carregado
                    </template>
                    <template slot="items" slot-scope="carro">
                        <td>
                            {{ carro.item.id }}
                        </td>
                        <td>{{ carro.item.owner }}</td>
                        <td>{{ carro.item.plate }}</td>
                        <td>{{ carro.item.plateDate }}</td>
                        <td>{{ carro.item.tax }}</td>
                        <td>
                            <v-btn flat fab small
                            @click="editar(carro.item.id)">
                            <v-icon>edit</v-icon>
                            </v-btn>
                        </td>
                    </template>
                    <template slot="actions-append">
                        <v-btn flat icon @click="carregar">
                            <v-icon>cached</v-icon>
                        </v-btn>
                    </template>
                </v-data-table>
            </v-container>
        </v-content>
        <v-footer dark app color="primary" class="pa-2">
            CORP&copy;
        </v-footer>
    </v-app>
    <script src="carros-service.js"></script>
    <script src="carros-listar.js"></script>
</body>

</html>