<!DOCTYPE html>
<html>

<head>
    <title>Curso RWS - Listagem de Carros</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximumscale=1,user-scalable=no, minimal-ui">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/vuetify@1.5.2/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.js"></script>
    <script src="https://unpkg.com/vue@2.6.7/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.min.js"></script>
    <script src="https://unpkg.com/vuetify@1.5.2/dist/vuetify.min.js"></script>
</head>

<body>
    <v-app id="app">
        <v-toolbar dark app color="primary">
            <v-btn flat icon href="carros-listar.html">
                <v-icon>keyboard_arrow_left</v-icon>
            </v-btn>
            <v-toolbar-title>Curso RWS - Cadastro de Carros</v-toolbar-title>
        </v-toolbar>
        <v-content>
            <v-alert v-model="mensagem.exibir" :type="mensagem.tipo" dismissible>
                {{ mensagem.texto }}
            </v-alert>
            <v-container>
                <v-layout row wrap>
                    <v-flex xs12>
                        <v-text-field type="text" label="Dono:" v-model="car.owner" :error-messages="errors.owner" />
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field type="text" return-masked-value :mask="'AAA-####'"label="Placa:" v-model="car.plate" :error-messages="errors.plate" />
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field type="text" return-masked-value :mask="'##/##/####'" v-model="car.plateDate" label="Data emplacamento:" :error-messages="errors.plateDate" />
                    </v-flex>
                    <v-flex xs12>
                        <v-text-field type="text" label="IPVA:" :mask="'#####,##'" v-model="car.tax" :error-messages="errors.tax" />
                    </v-flex>
                </v-layout>
                <v-btn v-if="!modoEdicao()" color="primary" @click="inserir">
                    <v-icon>save</v-icon> Inserir
                </v-btn>
                <v-btn v-if="modoEdicao()" color="success" @click="atualizar">
                    <v-icon>save</v-icon> Atualizar
                </v-btn>
                <v-btn v-if="modoEdicao()" color="error" @click="excluir">
                    <v-icon>delete</v-icon> Excluir
                </v-btn>
            </v-container>
        </v-content>
        <v-footer dark app color="primary" class="pa-2">CORP&copy;</v-footer>
    </v-app>
    <script src="carros-service.js"></script>
    <script src="carros-editar.js"></script>
</body>

</html>